<h1>All Collectors</h1>
<div>

<ul>
<% @users.each do |user| %>
    <li class ="link"><%= link_to user.user_name, user_path(user) %><br>
    <%= user.name %>
    <br>
    Beanie Baby Collection size: <%= user.ownerships.length %>
    </li>
    <br>
<% end %>
</ul>
</div>