<h1>All Users</h1>
Press <%= link_to 'here', home_path  %> to return to home page
<br>
<ul>
<% @users.each do |user| %>
    <li><b><%= link_to user.user_name, user_path(user) %></b><br>
    <%= user.name %>
    <br>
    Beanie Baby Collection size: <%= user.ownerships.length %>
    </li>

<% end %>
</ul>