
<div class="grid-container">
    <% @babies.each do |b| %>
    <div class="grid-child">
        <h2 class="babyindexname"><%=b.name %></h2>
        <a id="baby-link" href="<%= baby_path(b) %>"><img class= "babyindeximg" src=<%= b.img_url %>></a>
    <p><b>Sellers with this Beanie Baby:</b></p>
    <br>
    <% unique_users = b.users.uniq%>
        <% unique_users.each do |u| %>
            <p class="link"><%= link_to u.name, user_path(u) %> </p>
            <br>
        <% end %>
    </div>
    <% end %>
</div>
