

<h1>Behold the babies!</h1>

<ul>
<% @babies.each do |b| %>
<li><img class= "babyindeximg" src=<%= b.img_url %>>
<%=link_to b.name, baby_path(b) %></li>


<br>
List of sellers with this Beanie Baby:
<br>
<% b.users.each do |u| %>
<%= link_to u.name, user_path(u) %> 
<br>
<% end %>
<% end %>
</ul>