

<h1>Behold the babies!</h1>

<ul>
<% @babies.each do |b| %>
<li><img class= "babyindeximg" src=<%= b.img_url %>>
<%=link_to b.name, baby_path(b) %></li>


<br>
<h1>List of sellers with this Beanie Baby:</h1>
<br>
<% unique_users = b.users.uniq%>
<% unique_users.each do |u| %>
<p><%= link_to u.name, user_path(u) %> </p>
<br>
<% end %>
<% end %>
</ul>