

<h1>Behold the babies!</h1>
<br>
Press <%= link_to 'here', home_path  %> to return to home page
<ul>
<% @babies.each do |b| %>
<li><img class= "babyindeximg" src=<%= b.img_url %>>
<%=link_to b.name, baby_path(b) %></li>


<br>
<% end %>

</ul>