<h1>Trade Confirmation</h1>
<%# enact methods here to crud on the associated ownerships and change their user_id %>

<%= @self_ownership.baby.name %>

<%= @foreign_ownership.baby.name %>

<% if @trade.d_ownership.user.id == @current_user.id %> 
<%= button_to 'Confirm Trade', confirm_trade_path %>
<% end %>
<%= button_to 'Cancel Trade', cancel_trade_path, method: :patch %>

